.head-line {
    color: blue;
    font-size: 25px;
    background-color: fuchsia;
    width: 30%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: 0% 35%;
}

img {
    padding: 10px;
    border-radius: 5px;
    margin: 0% 35%;
    height: 30%;
    width: 30%;
}

.eb,
h3 {
    text-align: center;
    color: darkred;
    background-color: rosybrown;
    font-weight: 700;
    border-radius: 5px;
    margin: 0% 35%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 35%;
}

.eid {
    text-align: center;
    color: darkred;
    background-color: darkturquoise;
    font-weight: 700;
    border-radius: 5px;
    margin: 0% 35%;
}

.head-line,
img,
.eb,
h3,
.link-button,
.eid {
    margin: 0% 35%;
    padding: 20px;
}