.head-line {
    color: blue;
    font-size: 100px;
    background-color: bisque;
    border: 10px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.eid {
    text-align: center;
    color: darkred;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 45%;
}

h3 {
    text-align: center;
    position: 40%;
    background-color: chartreuse;
}